<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">

<head>
    <meta charset="UTF-8">
</head>

<body>

<!-- ============================================================
     FRAGMENT: FORM OFFERTE
     Uso: <main th:replace="~{fragments/gestionali :: formOfferte}">
     ============================================================ -->
<section class="page-main" th:fragment="formOfferte">
    <div class="container formFilm">
        <form class="row g-4">

            <!-- COLONNA SINISTRA -->
            <div class="col-md-6 form-section">
                <div class="form-group">
                    <label class="form-label">Titolo Offerta</label>
                    <input type="text" class="form-control" id="titoloOfferta">
                </div>

                <div class="form-group">
                    <label class="form-label d-block">Genere Offerta</label>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="genere"
                               value="evento">
                        <label class="form-check-label">Eventi</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="genere"
                               value="bar">
                        <label class="form-check-label">Bar</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="genere"
                               value="anteprima">
                        <label class="form-check-label">Anteprime</label>
                    </div>
                </div>
            </div>

            <!-- COLONNA DESTRA -->
            <div class="col-md-6 form-section">
                <div class="form-group">
                    <label class="form-label">Descrizione</label>
                    <textarea class="form-control"></textarea>
                </div>
            </div>

            <!-- DATE -->
            <div class="col-md-6 form-group">
                <label class="form-label">Data Inizio</label>
                <input type="date" class="form-control">
            </div>
            <div class="col-md-6 form-group">
                <label class="form-label">Data Scadenza</label>
                <input type="date" class="form-control">
            </div>

            <!-- PREZZO + IMMAGINI -->
            <div class="col-md-3 form-group">
                <label class="form-label">Prezzo (solo Bar)</label>
                <input type="number" class="form-control" id="prezzo">
            </div>
            <div class="col-md-3 form-group">
                <label class="form-label">Immagine Card Ver.</label>
                <input type="file" class="form-control">
            </div>
            <div class="col-md-3 form-group">
                <label class="form-label">Immagine Toplist Ori.</label>
                <input type="file" class="form-control">
            </div>
            <div class="col-md-3 form-group">
                <label class="form-label">Immagine Dettaglio</label>
                <input type="file" class="form-control">
            </div>

            <!-- BOTTONI -->
            <div class="col-12 form-actions">
                <button type="submit" class="btn btn-outline-warning">Conferma</button>
                <button type="reset" class="btn btn-outline-danger">Annulla</button>
            </div>

        </form>

    </div>
</section>


<!-- ============================================================
     FRAGMENT: FORM FILM
     Uso: <section th:replace="~{fragments/gestionali :: formFilm}">
     ============================================================ -->
<section class="page-main" th:fragment="formFilm">
    <div class="container formFilm">
        <form class="row g-4">

            <!-- COLONNA SINISTRA -->
            <div class="col-md-6 form-section">
                <div class="form-group">
                    <label class="form-label">Titolo Film</label>
                    <input type="text" class="form-control" id="titoloFilm">
                </div>
                <div class="form-group">
                    <label class="form-label">Distribuzione</label>
                    <input type="text" class="form-control" id="distribuzione">
                </div>
                <div class="form-group">
                    <label class="form-label">Genere</label>
                    <select class="form-select" id="genereFilm">
                        <option value="" disabled selected>Seleziona genere...</option>
                        <option value="azione">Azione</option>
                        <option value="commedia">Commedia</option>
                        <option value="dramma">Dramma</option>
                        <option value="horror">Horror</option>
                        <option value="thriller">Thriller</option>
                        <option value="fantascienza">Fantascienza</option>
                        <option value="animazione">Animazione</option>
                        <option value="documentario">Documentario</option>
                    </select>
                </div>
            </div>

            <!-- COLONNA DESTRA -->
            <div class="col-md-6 form-section">
                <div class="form-group">
                    <label class="form-label">Sinossi</label>
                    <textarea class="form-control" id="sinossi"></textarea>
                </div>
            </div>

            <!-- DATE + DURATA -->
            <div class="col-md-4 form-group">
                <label class="form-label">Data Uscita</label>
                <input type="date" class="form-control" id="dataUscita">
            </div>
            <div class="col-md-4 form-group">
                <label class="form-label">Data Fine Programmazione</label>
                <input type="date" class="form-control" id="dataFine">
            </div>
            <div class="col-md-4 form-group">
                <label class="form-label">Durata (minuti)</label>
                <input type="number" class="form-control" id="durata">
            </div>

            <!-- LINGUE + PREZZO + FORMATO -->

            <div class="col-md-4 form-group" id="ita0">
                <label class="form-label d-block">Italiano</label>

                <div class="row">

                    <!-- colonna sinistra -->
                    <div class="col-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formato2D"
                                   value="2D">

                            <label class="form-check-label" for="formato2D">
                                2D
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formato3D"
                                   value="3D">

                            <label class="form-check-label" for="formato3D">
                                3D
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formato3D"
                                   value="3D">

                            <label class="form-check-label" for="formato3D">
                                No
                            </label>
                        </div>

                    </div>


                    <!-- colonna destra -->
                    <div class="col-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formato4K"
                                   value="4K">

                            <label class="form-check-label" for="formato4K">
                                4K
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formatoIMAX"
                                   value="IMAX">
                            <label class="form-check-label" for="formatoIMAX">
                                IMAX
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 form-group">
                <label class="form-label d-block" id="eng">Inglese</label>

                <div class="row">

                    <!-- colonna sinistra -->
                    <div class="col-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formato2D"
                                   value="2D">

                            <label class="form-check-label" for="formato2D">
                                2D
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formato3D"
                                   value="3D">

                            <label class="form-check-label" for="formato3D">
                                3D
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formato3D"
                                   value="3D">
                            <label class="form-check-label" for="formato3D">
                                No
                            </label>
                        </div>
                    </div>

                    <!-- colonna destra -->
                    <div class="col-5">

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formato4K"
                                   value="4K">
                            <label class="form-check-label" for="formato4K">
                                4K
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="formatoIMAX"
                                   value="IMAX">
                            <label class="form-check-label" for="formatoIMAX">
                                IMAX
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PREZZO -->
            <div class="col-md-4 form-group">
                <label class="form-label">Prezzo</label>
                <input type="number" class="form-control" id="durata">
            </div>

            <!-- IMMAGINI -->
            <div class="col-md-4 form-group">
                <label class="form-label">Immagine Copertina</label>
                <input type="file" class="form-control" accept="image/*">
            </div>
            <div class="col-md-4 form-group">
                <label class="form-label">Immagine Locandina</label>
                <input type="file" class="form-control" accept="image/*">
            </div>
            <div class="col-md-4 form-group">
                <label class="form-label">Immagine Logo</label>
                <input type="file" class="form-control" accept="image/*">
            </div>

            <!-- PARTNERSHIP -->
            <div class="col-md-4 form-group">
                <label class="form-label">Immagine Partnership</label>
                <input type="file" class="form-control" accept="image/*">
            </div>

            <div class="col-md-4 form-group">
                <label class="form-label d-block">Partnership</label>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="partnership"
                           value="si">
                    <label class="form-check-label">Sì</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="partnership"
                           value="no">
                    <label class="form-check-label">No</label>
                </div>
            </div>

            <div class="col-md-4 form-group">
                <label class="form-label d-block">Stato Film</label>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="statoFilm"
                           value="inSala">
                    <label class="form-check-label">In Sala</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="statoFilm"
                           value="archiviato">
                    <label class="form-check-label">Archiviato</label>
                </div>
            </div>

            <!-- BOTTONI CONFERMA E ANNULLA-->
            <div class="col-12 form-actions">
                <button type="submit" class="btn btn-outline-warning">Conferma</button>
                <button type="reset" class="btn btn-outline-danger">Annulla</button>
            </div>

        </form>

    </div>
</section>


<!-- ============================================================
     FRAGMENT: FORM UTENTI  ← placeholder, da personalizzare
     Uso: <section th:replace="~{fragments/gestionali :: formUtenti}">
     ============================================================ -->
<section class="page-main" th:fragment="formUtenti">
    <div class="container formFilm">
        <form class="row g-4">

            <!-- COLONNA SINISTRA -->
            <div class="col-md-6 form-section">
                <div class="form-group">
                    <label class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome">
                </div>
                <div class="form-group">
                    <label class="form-label">Cognome</label>
                    <input type="text" class="form-control" id="cognome">
                </div>
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>

            <!-- COLONNA DESTRA -->
            <div class="col-md-4 form-section">
                <div class=" form-group">
                    <label class="form-label d-block">Ruolo</label>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ruolo">
                        <label class="form-check-label">Admin</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ruolo">
                        <label class="form-check-label">User</label>
                    </div>
                </div>
                <div class=" form-group">
                    <label class="form-label d-block">Stato account</label>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="stato_account">
                        <label class="form-check-label">Attivo</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="stato_account">
                        <label class="form-check-label">Bloccato</label>
                    </div>
                </div>

            </div>

            <!-- BOTTONI -->
            <div class="col-12 form-actions">
                <button type="submit" class="btn btn-outline-warning">Conferma</button>
                <button type="reset" class="btn btn-outline-danger">Annulla</button>
            </div>

        </form>

    </div>
</section>

<!-- ============================================================
     FRAGMENT: TABELLA OFFERTE
     Uso: <section th:replace="~{fragments/gestionali :: tabellaOfferte}">
     ============================================================ -->
<section id="tabsOffers" class="section-layout" th:fragment="tabellaOfferte">
    <div class="container">

        <h1 class="section-title h1">Database Offerte</h1>

        <div class="row" id="Offers">
            <table id="tableOffers" class="table table-striped dataTable-init">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Titolo</th>
                    <th>Categoria</th>
                    <th>Data</th>
                    <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Esempio Record</td>
                    <td>Categoria</td>
                    <td>01/01/2025</td>
                    <td>
                        <div class="btn-group d-flex justify-content-center"
                             role="group">
                            <button type="button" class="btn btn-outline-success">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <button type="button" class="btn btn-outline-warning">
                                <i class="fa-regular fa-folder-open"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>bruh</td>
                    <td>breeeh</td>
                    <td>05/01/2025</td>
                    <td>
                        <div class="btn-group d-flex justify-content-center"
                             role="group">
                            <button type="button" class="btn btn-outline-success">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <button type="button" class="btn btn-outline-warning">
                                <i class="fa-regular fa-folder-open"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</section>


<!-- ============================================================
     FRAGMENT: TABELLA UTENTI
     Uso: <section th:replace="~{fragments/gestionali :: tabellaUtenti}">
     ============================================================ -->
<section id="tabsUsers" class="section-layout"  th:fragment="tabellaUtenti">
    <div class="container">

        <h1 class="section-title h1">Database Utenti</h1>

        <div class="row" id="Users">
            <table id="tableUsers" class="table table-striped dataTable-init">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Email</th>
                    <th>Ruolo</th>
                    <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Mario</td>
                    <td>Rossi</td>
                    <td>mariorossi@gmail.com</td>
                    <td>User</td>
                    <td>
                        <div class="btn-group d-flex justify-content-center"
                             role="group">
                            <button type="button" class="btn btn-outline-success">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <button type="button" class="btn btn-outline-warning">
                                <i class="fa-regular fa-folder-open"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Mamba</td>
                    <td>Puffi</td>
                    <td>mambapuffi@gmail.com</td>
                    <td>Admin</td>
                    <td>
                        <div class="btn-group d-flex justify-content-center"
                             role="group">
                            <button type="button" class="btn btn-outline-success">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <button type="button" class="btn btn-outline-warning">
                                <i class="fa-regular fa-folder-open"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</section>


<!-- ============================================================
     FRAGMENT: TABELLA FILM (con tab In Sala / Archivio)
     Uso: <section th:replace="~{fragments/gestionali :: tabellaFilm}">
     ============================================================ -->
<section id="tabsFilm" class="section-layout" th:fragment="tabellaFilm">
    <div class="container">

        <h1 class="section-title h1">Database Film</h1>

        <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                        data-bs-target="#home-tab-pane" type="button" role="tab"
                        aria-controls="home-tab-pane" aria-selected="true">
                    In Sala
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                        data-bs-target="#profile-tab-pane" type="button" role="tab"
                        aria-controls="profile-tab-pane" aria-selected="false">
                    Archivio
                </button>
            </li>
        </ul>

        <div class="tab-content py-3 px-3 px-sm-0" id="myTabContent">

            <!-- TAB: IN SALA -->
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                 aria-labelledby="home-tab" tabindex="0">
                <div class="row" id="tabInSala">
                    <table id="tabellaFilmInSala"
                           class="table table-striped dataTable-init">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titolo Film</th>
                            <th>Distribuzione</th>
                            <th>Data Uscita</th>
                            <th>Azioni</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Esempio statico: sostituire con th:each sui dati reali -->
                        <tr>
                            <td>1</td>
                            <td>Titolo Film</td>
                            <td>Distribuzione</td>
                            <td>01/01/2025</td>
                            <td>
                                <div class="btn-group d-flex justify-content-center"
                                     role="group">
                                    <button type="button"
                                            class="btn btn-outline-success">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-warning">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Titolo Film</td>
                            <td>Distribuzione</td>
                            <td>01/01/2025</td>
                            <td>
                                <div class="btn-group d-flex justify-content-center"
                                     role="group">
                                    <button type="button"
                                            class="btn btn-outline-success">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-warning">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Titolo Film</td>
                            <td>Distribuzione</td>
                            <td>01/01/2025</td>
                            <td>
                                <div class="btn-group d-flex justify-content-center"
                                     role="group">
                                    <button type="button"
                                            class="btn btn-outline-success">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-warning">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Titolo Film</td>
                            <td>Distribuzione</td>
                            <td>01/01/2025</td>
                            <td>
                                <div class="btn-group d-flex justify-content-center"
                                     role="group">
                                    <button type="button"
                                            class="btn btn-outline-success">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-warning">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Titolo Film</td>
                            <td>Distribuzione</td>
                            <td>01/01/2025</td>
                            <td>
                                <div class="btn-group d-flex justify-content-center"
                                     role="group">
                                    <button type="button"
                                            class="btn btn-outline-success">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-warning">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Titolo Film</td>
                            <td>Distribuzione</td>
                            <td>01/01/2025</td>
                            <td>
                                <div class="btn-group d-flex justify-content-center"
                                     role="group">
                                    <button type="button"
                                            class="btn btn-outline-success">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-warning">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Titolo Film</td>
                            <td>Distribuzione</td>
                            <td>01/01/2025</td>
                            <td>
                                <div class="btn-group d-flex justify-content-center"
                                     role="group">
                                    <button type="button"
                                            class="btn btn-outline-success">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-warning">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Titolo Film</td>
                            <td>Distribuzione</td>
                            <td>01/01/2025</td>
                            <td>
                                <div class="btn-group d-flex justify-content-center"
                                     role="group">
                                    <button type="button"
                                            class="btn btn-outline-success">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-warning">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Titolo Film</td>
                            <td>Distribuzione</td>
                            <td>01/01/2025</td>
                            <td>
                                <div class="btn-group d-flex justify-content-center"
                                     role="group">
                                    <button type="button"
                                            class="btn btn-outline-success">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-warning">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Titolo Film</td>
                            <td>Distribuzione</td>
                            <td>01/01/2025</td>
                            <td>
                                <div class="btn-group d-flex justify-content-center"
                                     role="group">
                                    <button type="button"
                                            class="btn btn-outline-success">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-warning">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- TAB: ARCHIVIO -->
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel"
                 aria-labelledby="profile-tab" tabindex="0">
                <div class="row" id="Archivio">
                    <table id="tabellaFilmArchivio"
                           class="table table-striped dataTable-init">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome Film</th>
                            <th>Distribuzione</th>
                            <th>Data Uscita</th>
                            <th>Azioni</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Esempio statico: sostituire con th:each sui dati reali -->
                        <tr>
                            <td>1</td>
                            <td>Titolo Film Archiviato</td>
                            <td>Distribuzione</td>
                            <td>01/01/2024</td>
                            <td>
                                <div class="btn-group d-flex justify-content-center"
                                     role="group">
                                    <button type="button"
                                            class="btn btn-outline-success">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-warning">
                                        <i class="fa-regular fa-folder-open"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-outline-danger">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Nome Film</th>
                            <th>Distribuzione</th>
                            <th>Data Uscita</th>
                            <th>Azioni</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>



</body>
</html>