<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="navbar" id="return">
    <a th:href="@{/}"><img class="logo" th:src="@{/img/Cinema_Logo.png}"></img></a>
    <ul class="nav">
        <li><a th:href="@{/inSala}">In Sala</a></li>
        <li><a th:href="@{/prossimamente}">Prossimamente</a></li>
        <li><a th:href="@{/memebership}">Membership</a></li>
        <li><a th:href="@{/offerte}">Offerte</a></li>
        <li><a th:href="@{/shop}">Shop</a></li>
    </ul>
    <ul class="navbar-nav">
        <li>
            <a class="nav-link" th:href="@{/SignIn.html}">Accedi</a>
        </li>
    </ul>
</header>
</body>
</html>