<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<!-- ============================================================
     FRAGMENT: logo +
     ============================================================ -->
<div th:fragment="logo">
    <a th:href="@{/}">
        <img class="logo" th:src="@{/img/Cinema_Logo.png}">
    </a>
</div>
<!-- ============================================================
     FRAGMENT: menù +
     ============================================================ -->
<ul class="nav" th:fragment="menu">
    <li><a th:href="@{/inSala}">In Sala</a></li>
    <li><a th:href="@{/prossimamente}">Prossimamente</a></li>
    <li><a th:href="@{/membership}">Membership</a></li>
    <li><a th:href="@{/offerte}">Offerte</a></li>
    <li><a th:href="@{/cinefans}">CineFans</a></li>
</ul>
<!-- ============================================================
     FRAGMENT: anonimo
     ============================================================ -->
<ul class="navbar-nav" th:fragment="anonimo">
    <li>
        <a class="nav-link" th:href="@{/login}">Accedi</a>
    </li>
</ul>
<!-- ============================================================
     FRAGMENT: utente
     ============================================================ -->
<ul class="navbar-nav" th:fragment="user" sec:authorize="hasAnyAuthority('User', 'Admin')">

    <li class="nav-item dropdown">
        <a class="nav-link" th:href="@{/utente}">
            <img class="user-icon"
                 th:src="@{/img/icona_profilo-utente.svg}"
                 alt="user icon">
        </a>

        <ul class="dropdown-menu accountDrop">
            <li><a class="dropdown-item" th:href="@{/utente}">Account</a></li>
            <li><a class="dropdown-item" th:href="@{/carrello}">Carrello</a></li>

            <li><hr class="dropdown-divider"></li>
            <li>
                <form th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </li>

</ul>
<!-- ============================================================
     FRAGMENT: admin
     ============================================================ -->
<ul class="navbar-nav" th:fragment="admin" sec:authorize="hasAuthority('Admin')">

    <li class="nav-item dropdown">
        <a class="nav-link" href="#">
            <img class="user-icon"
                 th:src="@{/img/icona_admin_user.svg}"
                 alt="admin icon">
        </a>

        <ul class="dropdown-menu accountDrop">
            <li><a class="dropdown-item" th:href="@{/admin}">DashBoard</a></li>
            <li><hr class="dropdown-divider"></li>

            <li>
                <form th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </li>

</ul>
</body>
</html>
