<!doctype html>
<html lang="ita" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="offerteSection" class="offers">
    <section class="offers-wrapper">

        <header class="offers-header mt-5">
            <h1 class="titoloLinea" id="offerte">
                Offerte & Gadget
            </h1>

            <a th:href="@{/offerte}" class="vedi-tutti">
                Vedi tutti
            </a>
        </header>

        <!-- 👇 QUI verranno inserite le card via JS -->
        <div class="row" id="offerte-container"></div>

    </section>
</section>
</body>
</html>