<!doctype html>
<html lang="ita" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="offerteSection" class="offers">
    <section class="offers-wrapper">
        <header class="offers-header mt-5">
            <h1 class="titoloLinea" id="offerte">
                Offerte & Gadget
            </h1>
            <a href="#" class="vedi-tutti ">Vedi tutti</a>
        </header>

        <div class="row">
            <!-- card1 -->
            <div class="col-lg-4 mt-4">
                <div class="card">
                    <div class="card-img-wrap">
                        <img src="./img/menu michael.jpg" class="card-img-novita">
                    </div>
                    <div class="card-body">
                        <time datetime="2026-04-26">26 apr 2026</time>
                        <h5 class="card-title">Superman</h5>
                        <a href="#" class="">Leggi di più</a>
                    </div>
                </div>
            </div>
            <!-- card2 -->
            <div class="col-lg-4 mt-4">
                <div class="card">
                    <div class="card-img-wrap">
                        <img src="./img/menu michael.jpg" class="card-img-novita">
                    </div>
                    <div class="card-body">
                        <time datetime="2026-04-26">26 apr 2026</time>
                        <h5 class="card-title">Superman</h5>
                        <a href="#" class="">Leggi di più</a>
                    </div>
                </div>
            </div>
            <!-- card3 -->
            <div class="col-lg-4 mt-4">
                <div class="card">
                    <div class="card-img-wrap">
                        <img src="./img/menu michael.jpg" class="card-img-novita">
                    </div>
                    <div class="card-body">
                        <time datetime="2026-04-26">26 apr 2026</time>
                        <h5 class="card-title">Superman</h5>
                        <a href="#" class="">Leggi di più</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>
</body>
</html>