/* =========================
   GLOBAL PAGE
========================= */

body {
    display: flex;
    flex-direction: column;
}

/* spazio sotto navbar */
.page-main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding-top: clamp(14rem, 18vh, 18rem);
}

/* =========================
   SECTION / TABS
========================= */

section {
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    background-color: var(--background-div)

}

section .section-title {
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

/* =========================
   NAV TABS
========================= */

.nav-fill {
    border-bottom: 0;
}

/* =========================
   FORM CONTAINER BASE
========================= */

.formFilm {
    background-color: var(--background-div);
    border-top: 0.125rem solid var(--border-color);
    border-bottom: 0.125rem solid var(--border-color);

    padding: 2rem;
    border-radius: 0.75rem;

    width: 100%;
    max-width: 75rem;
}

/* =========================
   FORM GLOBAL ELEMENTS
========================= */

.form-label {
    margin-bottom: 0.4rem;
    font-weight: 500;
    font-size: 0.95rem;
    text-transform: uppercase;
}

.form-control {
    border-radius: 0.5rem;
}

.form-control:focus {
    border-color: var(--border-color);
    box-shadow: 0 0 0 0.2rem rgba(158, 143, 43, 0.25);
}

/* =========================
   FORM GROUP SPACING
========================= */

.form-group {
    margin-bottom: 1rem;
}

/* =========================
   BUTTON AREA
========================= */

.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding-top: 1.5rem;
    margin-top: 1.5rem;

    border-top: 0.0625rem solid rgba(255,255,255,0.1);
}

/* =========================
   DATATABLES UI
========================= */

.dataTables_filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dataTables_filter label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* search input */
.dataTables_filter input {
    max-width: 18rem;
    height: 2.2rem;
    padding: 0.3rem 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

/* select show */
.dataTables_length select:focus {
    border-color: var(--border-color) !important;
    box-shadow: 0 0 0 0.15rem rgba(158, 143, 43, 0.25) !important;
    outline: none;
}

/* =========================
   SELECT
========================= */

.form-select:focus {
    border-color: var(--border-color) !important;
    box-shadow: 0 0 0 0.15rem rgba(158, 143, 43, 0.25) !important;
    outline: none !important;
}

option:hover {
    background-color: 0 0 0 0.15rem rgba(158, 143, 43, 0.25) !important;;
}