/* =========================
   OFFERTA FORM LAYOUT
========================= */

/* colonne più equilibrate */
.form-section {
    display: flex;
    flex-direction: column;
}
/* =========================
   RADIO GROUP FIX
========================= */

.form-check {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 0.6rem;
}

.form-check-input {
    width: 1.4rem;
    height: 1.4rem;
    margin-top: 0;
    flex-shrink: 0;
    cursor: pointer;
}

.form-check-label {
    margin: 0;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: var(--border-color);
    border-color: var(--border-color);
}

/* textarea NON enorme */
textarea.form-control {
    min-height: 13rem;
    max-height: 16rem;
    resize: vertical;
}

/* =========================
   TABS
========================= */

#tabsFilm {
    background: var(--background-div);
    color: #fff;
}

#tabsFilm h1.section-title {
    color: var(--gradient);
    -webkit-text-stroke: 1px var(--border-color);
}

#tabsFilm .nav-tabs .nav-link {
    border: 1px solid transparent;
    color: var(--primary);
    font-size: 1.1rem;
}

#tabsFilm .nav-tabs .nav-link.active {
    color: #000;
    background: transparent;
    border-bottom: 3px solid #000;
    font-weight: bold;
}