/* =========================
      GLOBAL / BASE
========================= */

body {
  background-color: var(--background-page);
}

/*main {
  margin-bottom: 10rem;
}*/

html, body {
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


/* =========================
      CARD GENERICHE (BOX)
========================= */

.box .box-img {
  width: 100%;
  height: 16.87rem; /* 270px */
}

.box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hover immagine */
.box .box-img img:hover {
  transform: translateY(-0.625rem); /* -10px */
  transition: 0.2s all linear;
}

/* Testo card */
.box h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.box span {
  font-size: 1.12rem; /* 18px */
}


/* =========================
    SWIPER FILM (PIÙ VISTI)
========================= */

.filmpiuVisti {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

/* Header swiper */
.header-swiper {
  max-width: 68.75rem; /* 1100px */
  margin: 2.5rem auto 1.25rem; /* 40px 20px */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Controlli */
.swiper-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* 8px */
}

/* Contatore */
.swiper-counter {
  color: #6c757d;
  font-size: 0.87rem; /* 14px */
  min-width: 3.75rem; /* 60px */
  text-align: right;
  gap: 0.12rem; /* 2px */
}

/* Container swiper */
.swiper {
  margin: 0 25rem; /* 400px */
  overflow: hidden;
}

/* Slide */
.swiper-slide {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}

.swiper-slide:hover {
  z-index: 20;
}

.swiper:hover .card {
  filter: brightness(0.5);
  transition: 0.3s ease;
}

.swiper .card:hover {
  z-index: 20;
  filter: brightness(1.1);
}

.swiper-pagination-bullet-active {
  background-color: #d3c359;
}


/* =========================
    CARD FILM
========================= */

.card {
  width: 20rem;
  margin: 0 0.5em;
  border: none;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
  border-radius: 0;

  background: transparent;
  box-shadow: none;
}

.card span i {
  color: var(--border-color);
}

.categoria-badge {
  color: var(--border-color);
}

.card:hover {
  z-index: 20;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.card-img-top {
  transition: transform 0.4s ease;
  will-change: transform;
  border-radius: 0;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}

/* Immagini */
.card-img-novita {
  width: 20rem;
  height: 11.9rem;
  object-fit: cover;
  display: block;
}

.card-img-wrap {
  width: 20rem;
  height: 11.9rem;
  overflow: hidden;
}
.card-img-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.05) 40%,
    rgba(0, 0, 0, 0) 70%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card:hover .card-img-wrapper::after {
  opacity: 1;
}


/* =========================
      BOTTONI SWIPER
========================= */

.custom-btn {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #0f161d;
  border: 0.06rem solid #9e8f2b;
  border-radius: 0.3rem;
  position: static !important;
  margin: 0;
}

.custom-btn::after {
  font-size: 0.8rem;
  color: #9e8f2b;
}

.custom-btn:hover {
  background: linear-gradient(
    90deg,
    #dc143c 0%,
    #b88f2a 50%,
    #9e8f2b 100%
  );
  border: none;
  box-shadow:
    0 0 0.5rem rgba(220, 20, 60, 0.5),
    0 0 1.5rem rgba(220, 20, 60, 0.3),
    0 0 2.5rem rgba(158, 143, 43, 0.2);
}

.custom-btn:hover::after {
  color: #1c252e;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-weight: 900;
  -webkit-text-stroke: 0.03rem currentColor;
}

/* =========================
    BANNER ALL YOU CAN SEE
========================= */

.cinema-banner {
  display: flex;
  justify-content: center;
  margin-top: 1rem
}

.cinema-banner img {
  width: 90rem;
  height: 23.5rem;
  object-fit: contain;
}

/* =========================
   MEMBERSHIP BANNER
========================= */

.membership-banner {
    width: 100%;
    height: 40rem;
    background-color: #111821;
    display: flex;

}


.membership-content {
    width: 100%;
    height: 100%;
    display: flex;
}


/* IMMAGINE SINISTRA*/

.membership-image {
    width: 65%;
    height: 100%;
    margin: 0;
}


.membership-image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}


.membership-image-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to left,
        transparent 60%,
        #111821 100%
    );

    pointer-events: none;
}


.membership-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    display: block;
}


/* TESTO DESTRA */

.membership-text {
    width: 50%;
    padding-right: 5rem;
    padding-left: 30rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.membership-text h2{
    text-transform: uppercase;
}


/* Bottone */
.membership-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1px var(--border-color);
    transition: all 0.25s ease;
    border: none;
    border-radius: 0;

    width: 12.5rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;

    color: #e1e1e1;
    background: transparent;
}


.membership-btn:hover {
     background: linear-gradient(90deg, #dc143c 0%, #b88f2a 50%, #9e8f2b 100%);
     color: #1c252e;
     box-shadow: 0 0 8px rgba(220, 20, 60, 0.5),
          0 0 25px rgba(220, 20, 60, 0.3),
          0 0 40px rgba(158, 143, 43, 0.2);
}