/* =========================
    TITOLI + LINEA ANIMATA
========================= */
.titoloLinea::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 7px;

  background: linear-gradient(90deg,
      transparent,
      #9e8f2b,
      #dc143c,
      #9e8f2b,
      transparent);

  filter: drop-shadow(0 0 6px #dc143c);
  transition: width 1.5s ease;
}

.titoloLinea.active::after {
  width: 100%;
}

/* TITOLO IN EVIDENZA */
.titoloLinea {
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  margin: 0;
  color: white;
}

/* Centro titolo */
.titolo-centrato {
  margin-left: auto;
  margin-right: auto;
}