<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
          integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/root.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/account-admin.css}">
    <link rel="stylesheet" th:href="@{/css/gestionali-admin.css}">

    <title>Dashboard Admin</title>
</head>

<body class="page-layout">
<!--NAVBAR-->
<header id="return">
    <div th:replace="fragments/navbar :: logo"></div>
    <div th:replace="fragments/navbar :: menu"></div>
    <div th:replace="fragments/navbar :: admin"></div>
</header>

<!-- CONTENUTO PAGINA -->
<div class="container-fluid">
    <div class="account-wrapper">
        <!-- ========================= -->
        <!-- SIDEBAR -->
        <!-- ========================= -->
        <aside class="sidebar">
            <h2>Ciao <span>Mario</span></h2>
            <!-- PANORAMICA ADMIN-->
            <section>
                <ul>
                    <li>
                        <button class="menu-btn sidebar-main active" data-target="overview">
                            <img th:src="@{/img/admin_profile.svg}" alt="admin_profilo">
                            <span>Panoramica dell'account</span>
                        </button>
                    </li>
                </ul>
            </section>

            <!-- GESTIONALI PRODOTTI -->
            <section class="sidebar-section">
                <h3>Gestionali</h3>

                <div class="dropdown-admin">
                    <!-- TOGGLE -->
                    <button class="dropdown-toggle-admin sidebar-main">
                        <img th:src="@{/img/adming_managment.svg}" alt="admin_gestionali">
                        <span>Gestionali Prodotti</span>
                    </button>

                    <!-- GESTIONALI PRODOTTI -->
                    <div class="dropdown-menu-admin">
                        <button class="menu-btn" data-target="film">
                            Gestionale Film
                        </button>
                        <button class="menu-btn" data-target="programmazione">
                            Gestionale Programmazione
                        </button>
                        <button class="menu-btn" data-target="tabsOfferte">
                            Gestionale Offerte
                        </button>
                    </div>
                </div>
                <ul>
                    <li>
                        <button class="menu-btn sidebar-main" data-target="management_user">
                            <img th:src="@{/img/admin_mangment_user.svg}" alt="gestionali_utenti">
                            <span>Gestione utenti</span>
                        </button>
                    </li>
                </ul>
            </section>
        </aside>

        <!-- ========================= -->
        <!-- CONTENUTO DINAMICO DESTRA -->
        <!-- ========================= -->
        <main class="content-area">
            <div class="content-box">

                <!-- PANORAMICA -->
                <div class="content-section active" id="overview">
                    <div class="page-title">
                        <img th:src="@{/img/user_profil.svg}" alt="user_profile">
                        <h1>Panoramica dell'account</h1>
                    </div>
                    <div class="account-panorama">

                        <!-- COLONNA DESTRA -->
                        <section class="account-right" aria-labelledby="account-title">
                            <div class="account-header">
                                <h2 id="account-title" class="section-title">
                                    Dettagli personali
                                </h2>
                            </div>
                            <dl class="account-fields">
                                <div class="field-row">
                                    <div class="field">
                                        <dt>Nome</dt>
                                        <dd>Mario</dd>
                                    </div>
                                    <div class="field">
                                        <dt>Cognome</dt>
                                        <dd>Rossi</dd>
                                    </div>
                                </div>
                                <div class="field-row">
                                    <div class="field">
                                        <dt>Cellulare</dt>
                                        <dd>+39 333 123 4567</dd>
                                    </div>
                                    <div class="field">
                                        <dt>Email</dt>
                                        <dd>mariolumaconeseducente@gmail.com</dd>
                                    </div>
                                </div>
                            </dl>
                        </section>
                    </div>
                </div>

                <!--GESTIONALE PRODOTTI FILM-->
                <section class="content-section" id="film" style="display:none;">
                    <div class="page-title">
                        <img th:src="@{/img/adming_managment.svg}" alt="gestionale_prodotti">
                        <h1>Gestionale Film</h1>
                    </div>
                    <!-- WRAPPER -->
                    <div class="admin-panel">
                        <!--FORM FILM-->
                        <section th:replace="~{fragments/gestionali :: formFilm}"></section>
                        <!-- TABELLA FILM  -->
                        <section th:replace="~{fragments/gestionali :: tabellaFilm}" ></section>
                    </div>
                </section>

                <!--GESTIONALE PRODOTTI PROGRAMMAZIONE-->
                <section class="content-section" id="programmazione" style="display:none;">
                    <div class="page-title">
                        <img th:src="@{/img/adming_managment.svg}" alt="gestionale_programmazione">
                        <h1>Gestionale Programmazione</h1>
                    </div>
                    <!-- WRAPPER -->
                    <div class="admin-panel">
                        <!--FORM OFFERTE-->
                        <section th:replace="~{fragments/gestionali :: formProgrammazione}"></section>
                        <!-- TABELLA OFFERTE  -->
                        <section th:replace="~{fragments/gestionali :: tabellaProgrammazione}" ></section>
                    </div>
                </section>

                <!--GESTIONALE PRODOTTI OFFERTE-->
                <section class="content-section" id="tabsOfferte" style="display:none;">
                    <div class="page-title">
                        <img th:src="@{/img/adming_managment.svg}" alt="gestionale_offerte">
                        <h1>Gestionale Offerte</h1>
                    </div>
                    <!-- WRAPPER -->
                    <div class="admin-panel">
                        <!--FORM OFFERTE-->
                        <section th:replace="~{fragments/gestionali :: formOfferte}"></section>
                        <!-- TABELLA OFFERTE  -->
                        <section th:replace="~{fragments/gestionali :: tabellaFilm}" ></section>
                    </div>
                </section>

                <!--GESTIONALE UTENTE-->
                <section class="content-section" id="management_user" style="display:none;">
                    <div class="page-title">
                        <img th:src="@{/img/admin_mangment_user.svg}" alt="gestionale_utente">
                        <h1>Gestionale Utente</h1>
                    </div>
                    <!-- WRAPPER -->
                    <div class="admin-panel">
                        <!--FORM UTENTE-->
                        <section th:replace="~{fragments/gestionali :: formUtenti}"></section>
                        <!--TABELLA UTENTE-->
                        <section th:replace="~{fragments/gestionali :: tabellaUtenti}"></section>
                    </div>
                </section>

            </div>
        </main>
    </div>
</div>






<!-- SCRIPT -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>
<script src="/js/admin-datatables.js"></script>
<script src="/js/account-admin.js"></script>

</body>

</html>