<!DOCTYPE html>
<html lang="ita" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film</title>

    <!-- LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/root.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/dettaglioFilm.css}">
    <link rel="stylesheet" th:href="@{/css/offers-banner.css}">
    <link rel="stylesheet" th:href="@{/css/titoloLinea.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/freccia.css}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
<header id="return">
    <div th:replace="fragments/navbar :: logo"></div>
    <div th:replace="fragments/navbar :: menu"></div>
    <div th:replace="fragments/navbar :: anonimo"></div>
    <div th:replace="fragments/navbar :: account"></div>
</header>

<main class="container py-5">
    <div class="row g-4 justify-content-center align-items-start g-4">
        <!-- POSTER -->
        <div class="col-md-2">
            <figure class="movie-poster">
                <img th:src="${film.img_poster}" th:alt="${film.titolo}">
            </figure>
        </div>

        <!-- DESCRIZIONE -->
        <div class="col-md-6">
            <div class="movie-content">
                <h1 class="movie-title text-white" th:text="${film.titolo}"></h1>
                <p class="lead movie-short" th:text="${film.descrizione}"></p>
                <div class="meta-wrapper">
                    <div class="movie-meta">
                        <div class="meta-block">
                            <p class="meta-title">Regista</p>
                            <p class="meta-content" th:text="${film.regista}"></p>
                        </div>

                        <div class="meta-block">
                            <p class="meta-title">Cast</p>
                            <p class="meta-content" th:text="${film.cast}"></p>
                        </div>
                    </div>
                </div>

                <!-- TABS -->
                <div class="cinema-tabs-wrapper">
                    <div class="cinema-line"></div>
                    <ul class="nav nav-pills cinema-tabs mb-3" id="cinemaTabs">

                        <li class="nav-item">
                            <button class="nav-link active giorno" type="button" data-index="0">Oggi</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link giorno" type="button" data-index="1">Domani</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link giorno" type="button" data-index="2">Mar</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link giorno" type="button" data-index="3">Mer</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link giorno" type="button" data-index="4">Gio</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link giorno" type="button" data-index="5">Ven</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link giorno" type="button" data-index="6">Sab</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link giorno-tutti" type="button" data-tutti="true">Tutti</button>
                        </li>
                    </ul>
                    <div class="cinema-line"></div>

                    <!-- BANNER PROMOZIONALE -->
                    <div id="offerte-banner-container">
<!--                        BANNER DINAMICI-->
                    </div>

                </div>

                <!-- CONTENUTO TABS -->
                <div class="tab-content cinema-content">
                    <!-- OGGI -->
                    <div class="tab-pane fade show active" id="oggi">

                        <!-- CARD GRID -->
                        <section class="row" id="programmazione-container">

                            <!--DINAMICO-->
                            <div id="programmazione-list" class="row"><!--CONTENUTO--></div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <!-- INFO -->
        <div class="col-md-3">
            <div class="movie-info">
                <div class="info-item">
                    <span class="label">Durata</span>
                    <span class="value" >
                            <span th:text="${film.durata.intValue() / 60} + 'h'"></span>
                            <span th:text="${film.durata.intValue() % 60} + 'min'"></span>
                        </span>
                </div>
                <div class="info-item">
                    <span class="label">Data di rilascio</span>
                        <span th:text="${#temporals.format(film.dataDiUscita, 'dd/MM/yyyy')}"></span>
                </div>
                <div class="info-item">
                    <span class="label">Genere</span>
                    <ul>
                        <li th:each="genere : ${film.generi}" th:text="${genere.nome}"></li>
                    </ul>
                </div>
                <div class="info-item">
                    <span class="label">Rating</span>
                    <span class="value">8.5</span>
                </div>
                <div class="info-item">
                    <span class="label">Lingue</span>
                    <span th:each="lingua, stat : ${film.lingue}">
                        <span th:text="${lingua}"></span><span th:if="${!stat.last}">, </span>
                    </span>
                </div>
                <div class="info-item">
                    <span class="label">Disponibile</span>
                    <span th:each="formato, stat : ${film.formati}">
                        <span th:text="${formato}"></span><span th:if="${!stat.last}">, </span>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <!-- OFFERTE -->
    <div th:replace="fragments/offerte-section :: offerteSection"></div>
</main>


<!-- FOOTER -->
<div th:replace="fragments/footer :: content"></div>
<div th:replace="fragments/footer :: social"></div>
<div th:replace="fragments/footer :: copyright"></div>

<!--SCRIPT PER COLLEGARE IL JSON FRONT-END A JAVASCRIPT, perché thymeleaf è stupido-->
<script th:inline="javascript">
    const PROGRAMMAZIONI = /*[[${film.programmazioni}]]*/ {};
    const TUTTE_PROGRAMMAZIONI = /*[[${film.tutte}]]*/ [];
    const OFFERTE = /*[[${film.offerte}]]*/ [];
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/titoloLinea.js"></script>
<script src="/js/filmDettaglio.js"></script>
<script src="/js/offertetoptier.js"></script>
<script src="/js/freccia.js"></script>
</body>



</html>