<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gadget</title>

    <!-- LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- CSS -->
    <link rel="stylesheet" href="./css/root.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/gadgetDettaglio.css">
</head>
<body>
<header id="return">
    <a href="./Home.html"><img class="logo" src="./img/Cinema_Logo.png"></img></a>
    <ul class="nav">
        <li><a href="./inSala.html">In Sala</a></li>
        <li><a href="./prossimamente.html">Prossimamente</a></li>
        <li><a href="#cale">Membership</a></li>
        <li><a href="#tabs">Offerte</a></li>
        <li><a href="#cale">Shop</a></li>
    </ul>
    <ul class="navbar-nav">
        <li>
            <a class="nav-link" href="./SignIn.html">Accedi</a>
        </li>
    </ul>
</header>

<section class="hero-custom">
    <img src="/img/prova.jfif" alt="Gadget cinema">
</section>

<main>
    <div class="content-wrapper">
        <h1>Titolo Gadget</h1>
        <p>
            Descrizione del gadget del cinema. Testo informativo, dettagli,
            curiosità e contesto.
            Descrizione del gadget del cinema. Testo informativo, dettagli,
            curiosità e contesto.
            Descrizione del gadget del cinema. Testo informativo, dettagli,
            curiosità e contesto.
            Descrizione del gadget del cinema. Testo informativo, dettagli,
            curiosità e contesto.
            Descrizione del gadget del cinema. Testo informativo, dettagli,
            curiosità e contesto.
            Descrizione del gadget del cinema. Testo informativo, dettagli,
            curiosità e contesto.
            Descrizione del gadget del cinema. Testo informativo, dettagli,
            curiosità e contesto.
            Descrizione del gadget del cinema. Testo informativo, dettagli,
            curiosità e contesto.
            Descrizione del gadget del cinema. Testo informativo, dettagli,
            curiosità e contesto.
        </p>
        <p>Descrizione del gadget del cinema. Testo informativo, dettagli,
            curiosità e contesto.
            Descrizione del gadget del cinema. Testo informativo, dettagli,
            curiosità e contesto.
            Descrizione del gadget del cinema. Testo informativo, dettagli,
            curiosità e contesto.</p>
        <button class="btn btnGadget">Acquista</button>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>