<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/materialize-carousel.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/root.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/bannerBootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/Homepage.css}">
    <link rel="stylesheet" th:href="@{/css/offers-banner.css}">
    <link rel="stylesheet" th:href="@{/css/titoloLinea.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/freccia.css}">


    <!-- FONT LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>Homepage</title>
</head>

<body>
<!--NAVBAR-->
<header id="return">
    <div th:replace="fragments/navbar :: logo"></div>
    <div th:replace="fragments/navbar :: menu"></div>
    <div th:replace="fragments/navbar :: anonimo"></div>
    <div th:replace="fragments/navbar :: account"></div>
</header>
<!--BANNER-->
<div class="banner" th:style="'background: url(' + ${filmRecenti[0].img_cover} + ') no-repeat center/cover'">
<!--    CONTENT-->
    <div th:each="film, iterStat : ${filmRecenti}"
         th:class="'content ' + (${iterStat.first} ? 'active' : '')"
         th:attr="data-film=${film.id}">

        <img th:src="${film.img_logo}" alt="Logo Film" class="titolo">
        <h4>
            <span th:text="${#temporals.year(film.dataDiUscita)}"></span>
<!--            <span><i th:text="${film.classificazione}"></i></span>-->
            <span>
                <span th:text="${film.durata.intValue() / 60} + 'h'"></span>
                <span th:text="${film.durata.intValue() % 60} + 'min'"></span>
            </span>
            <span th:each="genere, stat : ${film.generi}">
                <span th:text="${genere.nome}"></span><span th:if="${!stat.last}">
            </span>
        </h4>
        <p th:text="${film.descrizione}"></p>

        <div class="button">
            <a href="#"><i class="bi bi-play-fill"></i>Trailer</a>
            <a th:href="@{'/inSala/dettagli/' + ${film.id}}"><i class="bi bi-plus-lg"></i>Scopri di più</a>
        </div>
    </div>

    <!--immagini del banner, si inseriscono i poster e le cover-->
    <div class="carousel-box">
        <div class="carusel">
            <div class="carusel-item"
                 th:each="film : ${filmRecenti}"
                 th:style="'background-image: url(' + ${film.img_poster} + ')'"
                 th:attr="onclick=|cambioBg('${film.img_cover}', ${film.id})|">
            </div>
        </div>

    </div>
</div>

<!-- BANNER SPONSORSHIP -->
<section class="sponsorship-banner" aria-label="Banner sponsorizzazioni">
    <img id="sponsorshipBannerImg" alt="Banner sponsorizzazione">
<!--         th:src="${sponsorshipImages[0]}"-->
    <div id="sponsorshipBannerData" hidden>
<!--         th:attr="data-images=${#strings.listJoin(sponsorshipImages, ',')}"-->

    </div>
</section>
<!-- SWIPER FILM-->
<main>
    <section class="filmpiuVisti" id="filmpiuVisti">
        <div class="header-swiper">
            <h1 class="titoloLinea" id="piuVisti">in evidenza</h1>

            <div class="swiper-controls">
                <div class="swiper-counter">
                    <span id="current">1</span> / <span id="total">6</span>
                </div>
                <div class="swiper-pagination">&nbsp;</div>
                <div class="swiper-button-prev custom-btn"></div>
                <div class="swiper-button-next custom-btn"></div>
            </div>
        </div>
        <div class="container-fluid p-0">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <!--box1-->
                    <div class="swiper-slide">
                        <div class="card ">
                            <div class="card-img-wrapper">
                                <img src="./img/superman.jpg" class="card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Superman1</h5>
                                <ul class="list-unstyled p-0 m-0">
                                    <li class="mb-2 d-flex gap-3">
                                        <span class="text-secondary"><i class="fa-regular fa-clock"></i> 2h 16min</span>
                                        <span class="text-secondary"><i class="fa-regular fa-calendar"></i> 2026</span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled p-0 m-0">
                                    <li class="d-flex mb-1">
                                        <span class="badge sala-white text-secondary p-1">IMAX</span>
                                        <span class="badge sala-white text-secondary p-1">3D</span>
                                        <span class="badge sala-white text-secondary p-1">XL</span>
                                        <span class="badge sala-white text-secondary p-1">2D</span>
                                    </li>
                                </ul>
                                <span class="badge categoria-badge">Fantasy</span>
                            </div>
                        </div>
                    </div>
                    <!-- CARD 2 -->
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-img-wrapper">
                                <img src="./img/superman.jpg" class="card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Superman2</h5>
                                <ul class="list-unstyled p-0 m-0">
                                    <li class="mb-2 d-flex gap-3">
                                        <span class="text-secondary"><i class="fa-regular fa-clock"></i> 2h 16min</span>
                                        <span class="text-secondary"><i class="fa-regular fa-calendar"></i> 2026</span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled p-0 m-0">
                                    <li class="d-flex mb-1">
                                        <span class="badge sala-white text-secondary p-1">IMAX</span>
                                        <span class="badge sala-white text-secondary p-1">3D</span>
                                        <span class="badge sala-white text-secondary p-1">XL</span>
                                        <span class="badge sala-white text-secondary p-1">2D</span>
                                    </li>
                                </ul>
                                <span class="badge categoria-badge">Fantasy</span>
                            </div>
                        </div>
                    </div>
                    <!-- CARD3 -->
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-img-wrapper">
                                <img src="./img/superman.jpg" class="card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Superman3</h5>
                                <ul class="list-unstyled p-0 m-0">
                                    <li class="mb-2 d-flex gap-3">
                                        <span class="text-secondary"><i class="fa-regular fa-clock"></i> 2h 16min</span>
                                        <span class="text-secondary"><i class="fa-regular fa-calendar"></i> 2026</span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled p-0 m-0">
                                    <li class="d-flex mb-1">
                                        <span class="badge sala-white text-secondary p-1">IMAX</span>
                                        <span class="badge sala-white text-secondary p-1">3D</span>
                                        <span class="badge sala-white text-secondary p-1">XL</span>
                                        <span class="badge sala-white text-secondary p-1">2D</span>
                                    </li>
                                </ul>
                                <span class="badge categoria-badge">Fantasy</span>
                            </div>
                        </div>
                    </div>
                    <!-- CARD4 -->
                    <div class="swiper-slide ">
                        <div class="card">
                            <div class="card-img-wrapper">
                                <img src="/img/superman.jpg" class="card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Superman4</h5>
                                <ul class="list-unstyled p-0 m-0">
                                    <li class="mb-2 d-flex gap-3">
                                        <span class="text-secondary"><i class="fa-regular fa-clock"></i> 2h 16min</span>
                                        <span class="text-secondary"><i class="fa-regular fa-calendar"></i> 2026</span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled p-0 m-0">
                                    <li class="d-flex mb-1">
                                        <span class="badge sala-white text-secondary p-1">IMAX</span>
                                        <span class="badge sala-white text-secondary p-1">3D</span>
                                        <span class="badge sala-white text-secondary p-1">XL</span>
                                        <span class="badge sala-white text-secondary p-1">2D</span>
                                    </li>
                                </ul>
                                <span class="badge categoria-badge">Fantasy</span>
                            </div>
                        </div>
                    </div>
                    <!-- CARD5 -->
                    <div class="swiper-slide ">
                        <div class="card">
                            <div class="card-img-wrapper">
                                <img src="./img/superman.jpg" class="card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Superman5</h5>
                                <ul class="list-unstyled p-0 m-0">
                                    <li class="mb-2 d-flex gap-3">
                                        <span class="text-secondary"><i class="fa-regular fa-clock"></i> 2h 16min</span>
                                        <span class="text-secondary"><i class="fa-regular fa-calendar"></i> 2026</span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled p-0 m-0">
                                    <li class="d-flex mb-1">
                                        <span class="badge sala-white text-secondary p-1">IMAX</span>
                                        <span class="badge sala-white text-secondary p-1">3D</span>
                                        <span class="badge sala-white text-secondary p-1">XL</span>
                                        <span class="badge sala-white text-secondary p-1">2D</span>
                                    </li>
                                </ul>
                                <span class="badge categoria-badge">Fantasy</span>
                            </div>
                        </div>
                    </div>
                    <!-- CARD6 -->
                    <div class="swiper-slide ">
                        <div class="card">
                            <div class="card-img-wrapper">
                                <img src="./img/superman.jpg" class="card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Superman6</h5>
                                <ul class="list-unstyled p-0 m-0">
                                    <li class="mb-2 d-flex gap-3">
                                        <span class="text-secondary"><i class="fa-regular fa-clock"></i> 2h 16min</span>
                                        <span class="text-secondary"><i class="fa-regular fa-calendar"></i> 2026</span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled p-0 m-0">
                                    <li class="d-flex mb-1">
                                        <span class="badge sala-white text-secondary p-1">IMAX</span>
                                        <span class="badge sala-white text-secondary p-1">3D</span>
                                        <span class="badge sala-white text-secondary p-1">XL</span>
                                        <span class="badge sala-white text-secondary p-1">2D</span>
                                    </li>
                                </ul>
                                <span class="badge categoria-badge">Fantasy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- OFFERTA TOP -->
    <div th:replace="fragments/offerte-section :: offerteSection"></div>
    <!-- BANNER CINEMA HOMEPAGE -->
    <div class="cinema-banner">
        <img id="cinemaBannerImg" src="/img/banner_homepage.webp" alt="banner_all_you_can_see">
    </div>

    <!-- BANNER MEMBERSHIP -->
    <section class="membership-banner" aria-label="Scopri myS&G">
        <div class="container-fluid p-0 membership-container">
            <div class="membership-content">
                <div class="membership-text">
                    <h2>Entra in myS&amp;G</h2>
                    <p>
                        myS&amp;G è il programma fedeltà che premia il tuo amore per il cinema.
                        Un'unica card digitale, gratuita ed un solo protagonista: tu.
                    </p>
                    <a th:href="@{/membership}" class="membership-btn">
                        Scopri di più
                    </a>
                </div>
                <figure class="membership-image">
                    <div class="membership-image-wrapper">
                        <img th:src="@{/img/banner_fedelityCard.webp}"
                             alt="Card digitale myS&G">
                    </div>
                </figure>
            </div>
        </div>
    </section>

</main>


<!-- FOOTER -->
<div th:replace="fragments/footer :: newsletter"></div>
<div th:replace="fragments/footer :: content"></div>
<div th:replace="fragments/footer :: social"></div>
<div th:replace="fragments/footer :: copyright"></div>


<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<script src="./js/materialize.js"></script>
<script src="./js/home.js"></script>
<script src="./js/freccia.js"></script>
<script src="./js/titoloLinea.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

<script>

    // SCRIPT PER I CAROSELLI

    // BANNER PRINCIPALE
    function cambioBg(bg, filmId) {
      let banner = document.querySelector('.banner');
      let contenuti = document.querySelectorAll('.content');
      banner.style.background = `url('${bg}') center/cover no-repeat`;
      banner.style.backgroundSize = 'cover';
      banner.style.backgroundPosition = 'center';

      contenuti.forEach(content => {
        content.classList.remove('active');
        if (content.dataset.film == filmId) {
          content.classList.add('active')
        }
      });
    }

    $(document).ready(function () {
      $('.carusel').carusel();
    });

    //SWIPER I PIU VISTI
    let swiper = new Swiper(".mySwiper", {
      slidesPerView: 3, 
      spaceBetween: 10, 
      loop: true, 
      
      navigation: { 
        nextEl: ".swiper-button-next", 
        prevEl: ".swiper-button-prev", 
      }, 
      
      on: { 
        init: function () { 
          const realSlides = document.querySelectorAll(".mySwiper .swiper-slide:not(.swiper-slide-duplicate)").length; 
          this.totalPages = realSlides - this.params.slidesPerView + 1; 
          this.currentPage = 1; document.getElementById("total").textContent = this.totalPages; 
          document.getElementById("current").textContent = this.currentPage; } }
    });

</script>
</body>

</html>