<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offerte</title>

    <!-- LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/root.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/offertaDettaglio.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/freccia.css}">
</head>

<body>
<!--NAVBAR-->
<header id="return">
    <div th:replace="fragments/navbar :: logo"></div>
    <div th:replace="fragments/navbar :: menu"></div>
    <div th:replace="fragments/navbar :: anonimo"></div>
    <div th:replace="fragments/navbar :: account"></div>
</header>
<!--HERO-->
<section class="hero-custom">
    <img th:src="${offerta.imgDettaglio}" alt="Banner offerta dettaglio">
</section>

<main>
    <div class="content-wrapper"  th:attr="data-genere=${offerta.genere}">
        <h1 th:text="${offerta.nome}"></h1>
        <h5 th:text="${#temporals.format(offerta.dataInizio, 'dd MMMM yyyy', new java.util.Locale('it', 'IT'))}"></h5>
        <p th:text="${offerta.descrizione}"></p>
        <button id="btnAcquista" class="btn btnGadget" style="display: none;">
            Acquista
        </button>
    </div>
</main>

<!--FOOTER-->
<div th:replace="fragments/footer :: content"></div>
<div th:replace="fragments/footer :: social"></div>
<div th:replace="fragments/footer :: copyright"></div>

<!--JS-->
<script th:src="@{/js/offerta-dettaglio.js}"></script>
<script th:src="@{/js/freccia.js}"></script>
</body>
</html>