<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="./css/root.css">
    <link rel="stylesheet" href="./css/navbar.css">
    <link rel="stylesheet" href="./css/prossimamente.css">
    <title>Prossimamente</title>
</head>

<body>
<!--NAVBAR-->
<header id="return">
    <div th:replace="fragments/navbar :: logo"></div>
    <div th:replace="fragments/navbar :: menu"></div>
    <div th:replace="fragments/navbar :: user"></div>
</header>

<!--GRIGLIA FILM-->
<div class="grid" > 

    <div class="filmCard" th:each="film : ${filmProssimamente}" th:data-title="${film.titolo}"
         th:data-desc="${film.descrizione}"
         th:data-img="${film.img_cover}"
         th:data-cast="${film.cast}"
         th:data-regia="${film.regista}"
         th:data-durata="${film.durata}"
         th:data-data="${film.dataDiUscita}">
        <img class="img-gray" alt="incolore" th:src="${film.img_poster}">
        <img class="img-color" alt="a colori" th:src="${film.img_poster}">
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="./js/prossimamente.js"></script>
</body>
</html>