<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/prossimamente.css">
    <title>Prossimamente</title>
</head>
<body>
  <header id="return">
    <a href="Home.html"><img class="logo" src="../static/img/Cinema_Logo.png"></img></a>
    <ul class="nav">
      <li><a href="inSala.html">In Sala</a></li>
      <li><a href="prossimamente.html">Prossimamente</a></li>
      <li><a href="#cale">Membership</a></li>
      <li><a href="#tabs">Offerte</a></li>
      <li><a href="#cale">Shop</a></li>
    </ul>
    <ul class="navbar-nav ">
      <li><a class="nav-link" href="SignIn.html">Accedi</a></li>
      <!-- <button type="button" class="btn btn-dark">Sign up!</button> -->
    </ul>
  </header>


<div class="grid">

  <div class="card" data-movie="dune" data-title="Dune: Part Two" data-desc="Paul Atreides si unisce ai Fremen per vendicare la sua famiglia e guidare la ribellione contro l'Impero." data-img="./img/dune_cover.jpg">
    <img class="img-gray" alt="Dune incolore" src="../static/img/dune-prossimamente.jpg">
    <img class="img-color" alt="Dune a colori" src="../static/img/dune-prossimamente.jpg">
  </div>

  <div class="card" data-movie="mario" data-title="The Super Mario Bros. Movie" data-desc="Mario e Luigi intraprendono un'avventura per salvare il Regno dei Funghi." data-img="./img/supermario_cover.jpg">
    <img class="img-gray" alt="Mario incolore" src="../static/img/supermario_poster.jpg">
    <img class="img-color" alt="Mario a colori" src="../static/img/supermario_poster.jpg">
  </div>

  <div class="card" data-movie="scream" data-title="Scream 7" data-desc="Scream 7" data-img="./img/scream7_cover.jpg">
    <img class="img-gray" alt="Scream 7 incolore" src="../static/img/scream7_poster.jpg">
    <img class="img-color" alt="Scream 7 colori" src="../static/img/scream7_poster.jpg">

  </div>

  <div class="card" data-movie="avatar2" data-title="Avatar: The Way of Water" data-desc="Jake Sully e Neytiri affrontano nuove minacce per proteggere Pandora." data-img="./img/avatar2_cover.jpg">
    <img class="img-gray" alt="Avatar incolore" src="../static/img/avatar2_poster.png">
    <img class="img-color" alt="Avatar a colori" src="../static/img/avatar2_poster.png">
  </div>

</div>



<script src="../static/js/prossimamente.js"></script>
</body>
    
</body>
</html>