

footer li{
line-height: 1rem;
}

.sitiFoot{
	list-style-type: none; 
	display: flex; 
	justify-content: center;
}

.info i {
	padding-right:  0.8rem;
}

.social i {
	padding: 0.5rem;
	font-size: 1.5rem;
	cursor: pointer !important;
	list-style-type: none
}

.logoF{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    width: auto;
}